// variables

$light-yellow: #fdf7e7;
$med-yellow: #ffebb4;
$med-yellow2: #fce2b1;
$dark-yellow: #f8b501;
$light-green: #d0ebd1;
$dark-green: #167c1a;
$dark-blue: #1678c1;
$med-blue: #e0f2ff;
$light-blue: #e2f0f0;
$med-grey: #f1f1f1;
$med-grey-bg: #f3f3f3;
$med-grey-bg2: #f2f2f2;
$med-grey-bg3: #979797;
$med-grey-bg4: #c9c9c9;
$med-grey2: #e8e8e8;
$dark-grey: #a8a8a8;
$torquise: #37a3a5;

// fonts
$font-roboto: Roboto;
$font-merriweather: Merriweather;
$fontweight-light300: 300;
$fontweight-bold700: 700;
$fontweight-bold900: 900;

@mixin paragraph {
  font-family: $font-roboto;
  font-style: normal;
  font-size: 12px;
  font-weight: $fontweight-light300;
  line-height: 12px;
  letter-spacing: -0.03em;
}

@mixin header {
  font-family: $font-merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: -0.03em;
}

@mixin button {
  border-radius: 18px;
  padding: 12px 30px;
  cursor: pointer;
  @include paragraph;
  font-weight: $fontweight-bold700;
}

// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;

  body {
    overflow-x: hidden !important;

    main {
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
}

// nav

.navigationflexspacing {
  .firstcontent {
    width: 60%;

    p {
      width: 5%;
    }
  }

  .thirdcontent {
    list-style-type: none;
    @include paragraph;
  }
}

// spacings

.horizontalspacing {
  margin-left: 90px;
  margin-right: 90px;
}

.verticalmargincenter {
  margin-top: 60px;
  margin-bottom: 60px;
}

.verticalmargincenter2 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.horizontalpadding {
  padding-left: 200px;
  padding-right: 200px;
}

.horizontalpadding2 {
  padding-left: 80px;
  padding-right: 80px;
}

.absoluteheight {
  overflow-y: hidden;
}

.absolutesection {
  position: absolute;
  z-index: 12;
  bottom: -110px;
}

.sectionrelative {
  position: absolute;
  z-index: 13;
  bottom: 170px;
}

// borders

.boldbordertopbig {
  border-bottom: 5px solid $dark-blue;
}

.borderright {
  border-right: 1.5px solid #000;
}
.whiteborderright {
  border-right: 1.5px solid #fff;
}

.dottedborderbottom {
  border-bottom: 1px dashed #000;
}

.dottedbordertop {
  border-top: 1px dashed #000;
}

.roundedbordercircle {
  border: 1.5px solid #000;
  border-radius: 20px;
}

.borderradius20 {
  border-radius: 20px;
}

.numbercircle {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;

  &::after {
    content: '';
    position: absolute;

    border-top: 2px solid #fff;
  }
}

// fonts

.bold900 {
  font-weight: $fontweight-bold900 !important;
}

.bold700 {
  font-weight: $fontweight-bold700 !important;
}

.generalparagraph {
  @include paragraph;
  font-size: 12px;
  line-height: 15px;
}

.smallparagraph {
  @include paragraph;
  font-size: 10px;
}

.medparagraph {
  @include paragraph;
  font-size: 14px;
  line-height: 21px;
}
.medparagraph2 {
  @include paragraph;
  font-size: 16px;
  line-height: 16px;
}
.biggerparagraph {
  @include paragraph;
  font-size: 18px;
  line-height: 22px;
}
.biggestparagraph {
  @include paragraph;
  font-size: 20px;
  line-height: 25px;
}

.mainmerriheader {
  @include header;
}

.mainmerriheader2 {
  @include header;
  font-size: 16px;
  line-height: 22px;
}

.mainmerriheader3 {
  @include header;
  font-size: 28px;
  line-height: 35px;
}

.mainmerriheader4 {
  @include header;
  font-size: 16px;
  line-height: 21px;
}

.mainmerriheader5 {
  @include header;
  font-size: 20px;
  line-height: 21px;
}
.smallmerriheader {
  @include header;
  font-size: 12px;
  line-height: 15px;
}
.smallmerriheader2 {
  @include header;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
.merriparagraph {
  @include header;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

// buttons and links

button.loginbtncertifai {
  color: $dark-blue;
  border: 1px solid $dark-blue;
  @include button;

  &:hover {
    background-color: $dark-blue;
    color: #fff;
  }
}

button.genbtncertifai {
  background-color: $dark-blue;
  color: #fff;
  border: 1px solid $dark-blue;
  @include button;

  &:hover {
    border: 1px solid $dark-blue;
    background-color: #fff;
    color: $dark-blue;
  }

  &.rounded10 {
    border-radius: 10px;
  }
}

button.whitebtn {
  background-color: #fff;
  color: $dark-blue;
  border: 1px solid #fff;
  @include button;

  &:hover {
    border: 1px solid $dark-blue;
    background-color: $dark-blue;
    color: #fff;
  }

  &.rounded10 {
    border-radius: 10px;
  }
}

button.smallbtn {
  background-color: $dark-green;
  color: #fff;
  border: 1px solid $dark-green;
  @include button;
  border-radius: 0;

  &:hover {
    border: 1px solid $dark-green;
    background-color: #fff;
    color: $dark-green;
  }
}
button.downloadbtn {
  background-color: $dark-green;
  color: #fff;
  border: 1px solid #fff;
  @include button;

  &:hover {
    border: 1px solid $dark-green;
    background-color: #fff;
    color: $dark-green;
  }
}
button.closemodalbtn.btn {
  background-color: $med-grey-bg3;
  color: #fff;
  border: 1px solid #fff;
  @include button;

  &:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
  }
}

button.greybtn {
  background-color: $dark-grey;
  color: #fff;
  border: 1px solid $dark-grey;
  @include button;
  border-radius: 0;

  &:hover {
    border: 1px solid $dark-grey;
    background-color: #000;
    color: $dark-grey;
  }
}

.boxlink {
  text-decoration: none;
  color: #000;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

// colors

.torquise {
  color: $torquise;
}

.medgreybg {
  background-color: $med-grey;
}

.medyellow2bg {
  background-color: $med-yellow2;
}

.greybgdark {
  background-color: $dark-grey;
}

.greybgmed2 {
  background-color: $med-grey2;
}

.med-grey-bg {
  background-color: $med-grey-bg;
}

.med-grey-bg2 {
  background-color: $med-grey-bg2;
}
.med-grey-bg3 {
  background-color: $med-grey-bg3;
}
.med-grey-bg4 {
  background-color: $med-grey-bg4;
}

.infobg {
  background-color: #ffedcb;
}

.bluecolor {
  color: $dark-blue;
}

.greencolor {
  color: $dark-green;
}

.lightgreenbg {
  background-color: $light-green;
}

.greenbg {
  background-color: $dark-green;
}

.darkyellowcolor {
  color: $dark-yellow;
}

.bluecolorbg {
  background-color: $dark-blue;
}
.medbluecolorbg {
  background-color: $med-blue;
}

.lightbluecolorbg {
  background-color: $med-blue;
}

.boltyellow {
  color: #ffc000;
}

.whitebg {
  background-color: #fff;
}

// sections

.topsection {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.topsection2 {
  height: 50vh;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 12;
}

.relativecontainer {
  position: relative;
}

.contentwidth {
  z-index: 7;
  width: 50%;
}

.liststyle {
  list-style-type: none;
}

.absoluteflex {
  position: absolute;
  right: 20px;
  top: 20px;
}

.absolutesvg {
  position: absolute;
  left: 60px;
  right: 0;
  bottom: -20px;
}

.absolutesvg2 {
  position: absolute;
  left: 60px;
  right: 0;
  bottom: -50px;
}

.relativecontainer.people .col-4 {
  z-index: 2;
}

.absolutepeople {
  position: absolute;
  left: -60px;
  z-index: 1;
  right: 0;

  &.absolutesvgpeople1 {
    top: 80px;
  }

  &.absolutesvgpeople2 {
    top: 120px;
  }

  &.absolutesvgpeople3 {
    top: 160px;
  }

  &.absolutesvgpeople4 {
    top: 200px;
  }
}

.relativecontainer2 {
  position: relative;
}

.absolutefacilators {
  position: absolute;
  left: 20px;
  z-index: -1;
  right: 0;

  &.absolutesvgpeople1 {
    top: 100px;
  }

  &.absolutesvgpeople2 {
    top: 160px;
  }

  &.absolutesvgpeople3 {
    top: 210px;
  }

  &.absolutesvgpeople4 {
    top: 270px;
  }

  &.absolutesvgpeople5 {
    top: 330px;
  }

  &.absolutesvgpeople6 {
    top: 390px;
  }

  &.absolutesvgpeople7 {
    top: 450px;
  }

  &.absolutesvgpeople8 {
    top: 510px;
  }
}

// .teachsectionimg {
//   height: 220px;
//   width: 474px;
// }

.facilatorperson {
  border-radius: 50%;
  width: 204px;
  height: 205px;
}

.absoluteicon1 {
  position: absolute;
  top: -50px;
  z-index: 2;
}

.absoluteimage1 {
  position: absolute;
  top: 90px;
  z-index: -1;
  left: 120px;
}

.absoluteimage4 {
  position: absolute;
  top: 310px;
  z-index: -1;
  left: 20px;
}

.absoluteicon2 {
  position: absolute;
  top: -50px;
  right: -10px;
  z-index: 2;
}

.absoluteimage2 {
  position: absolute;
  top: 140px;
  z-index: -1;
  right: 30px;
}

.absoluteimage3 {
  position: absolute;
  top: -70px;
  z-index: -1;
  right: 200px;
}

.z4 {
  z-index: 15 !important;
}

.imgcontain {
  width: 160px;
  height: 193px;
}

// blue line

// blue mobile

.mobverticalline {
  margin: 0;
  padding: 0;
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    width: 2px;
    background: #fff;
    position: absolute;
    left: 3px;
    top: -25px;
    height: calc(100% - 70px);
  }
  // .vertical {
  //   position: relative;
  //   padding-left: 15px;
  //   margin-bottom: 15px;
  //   &:before {
  //     content: '';
  //     display: inline-block;
  //     width: 8px;
  //     height: 8px;
  //     background: #fff;
  //     position: absolute;
  //     left: 0;
  //     top: 5px;
  //     border-radius: 10px;
  //   }
  // }
}

// blue desktop

.deskhorizontalline {
  margin: 0;
  padding: 0;
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 37px;
    top: 23px;
    width: 75%;
  }
}

//

.greyboxcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 3;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    '. greybox1 greybox2 .'
    '. greybox3 greybox4 .'
    '. . . .';

  .greybox1 {
    grid-area: greybox1;
  }

  .greybox2 {
    grid-area: greybox2;
  }

  .greybox3 {
    grid-area: greybox3;
  }

  .greybox4 {
    grid-area: greybox4;
  }

  .greyboxes {
    background-color: $med-grey;
  }
}

.greenboxcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 3;
  grid-auto-flow: row;
  background-color: $dark-green;
  grid-template-areas: 'greenbox1 greenbox2 greenbox3 greenbox4';

  .greenbox1 {
    grid-area: greenbox1;
  }

  .greenbox2 {
    grid-area: greenbox2;
  }

  .greenbox3 {
    grid-area: greenbox3;
  }

  .greenbox4 {
    grid-area: greenbox4;
  }
}

//accordion
.blueaccordion {
  width: 80vw;
}

.accordionlogo {
  width: 78px;
  height: 67px;
}

.roundedgreycontainer {
  border-radius: 10px;
  background-color: #f1f1f1;
}
//

// modals

.modal-header.headerbg {
  background-color: #e3e3e3;
}

// footer

.footerflex {
  .flex1 {
    width: 8%;
  }
  .flex2 {
    width: 30%;
  }
  .flex3 {
    width: 10%;
  }
}

// mobile and tabs responsive

@media (max-height: 815px) {
  .sectionrelative {
    bottom: -20px;
  }
}

@media (max-height: 715px) {
  .sectionrelative {
    bottom: 90px;
  }
}

@media (max-width: 1015px) {
  .footerflex {
    .flex2 {
      width: 40%;
    }
  }

  .topsection {
    height: 100vh;
  }
}
@media (max-width: 752px) {
  .topsection {
    height: 80vh;
  }
}

@media (max-height: 762px) {
  .topsection {
    height: 90vh;
  }
}

@media (max-height: 675px) {
  .topsection2 {
    height: 60vh;
  }
  .topsection {
    height: 100vh;
    overflow-y: hidden;
  }
}

@media (max-height: 562px) {
  .topsection {
    height: 130vh;
  }
}

@media (max-width: 1270px) {
  .absolutepeople {
    &.absolutesvgpeople1 {
      top: 60px;
    }

    &.absolutesvgpeople2 {
      top: 100px;
    }

    &.absolutesvgpeople3 {
      top: 140px;
    }

    &.absolutesvgpeople4 {
      top: 180px;
    }
  }

  .navigationflexspacing {
    .firstcontent {
      width: 40%;
    }
  }

  .imgcontain {
    width: 130px;
    height: 143px;
  }

  .horizontalpadding {
    padding-left: 150px;
    padding-right: 150px;
  }

  .horizontalpadding2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 904px) {
  .absolutepeople {
    &.absolutesvgpeople1 {
      top: 40px;
    }

    &.absolutesvgpeople2 {
      top: 80px;
    }

    &.absolutesvgpeople3 {
      top: 120px;
    }

    &.absolutesvgpeople4 {
      top: 160px;
    }
  }
  .navigationflexspacing {
    .firstcontent {
      width: 20%;
    }
  }

  .horizontalspacing {
    margin-left: 50px;
    margin-right: 50px;
  }

  .horizontalpadding {
    padding-left: 100px;
    padding-right: 100px;
  }

  .horizontalpadding2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 967.9px) {
  .imgcontain {
    width: 100px;
    height: 123px;
  }
}

@media (max-width: 767.9px) {
  .icandiet {
    .numbercircle {
      width: 10%;
    }

    .maindiet {
      width: 90%;
    }
  }

  .deskhorizontalline {
    &:before {
      width: 2px;
      background: #fff;
      position: absolute;
      left: 40px;
      top: 23px;
      height: 77%;
    }
  }
  .sectionrelative {
    bottom: -120px;
  }
  .datewhite {
    height: 30%;
  }
  .afterabsolute {
    margin-top: 350px;
  }
  .resetmobilebottom {
    .border-bottom {
      border-bottom: none !important;
    }
  }

  .newmargin {
    margin-top: 150px;
  }

  .mobileborderright {
    border-right: 1px solid #fff;
  }
  .mobilewhiteborderbottom {
    border-bottom: 1px solid #fff;
  }
  .greenboxcontainer {
    grid-template-columns: 1fr;

    grid-auto-flow: row;
    grid-template-areas: 'greenbox1' 'greenbox2' 'greenbox3' 'greenbox4';

    .whiteborderright {
      border-right: none;
    }
  }

  .absolutefacilators {
    left: 0px;
  }

  .facilatorperson {
    width: 90px;
    height: 90px;
  }
  .whitebg {
    h2.mainmerriheader2,
    p.medparagraph {
      font-size: 10px;
    }
  }
  .mainmerriheader2 {
    font-size: 12px;
  }
  .largemobilebtn {
    button.btn {
      width: 100%;
    }
  }
  .modal-header.headerbg {
    background-color: #939393;
  }

  .absolutepeople {
    &.absolutesvgpeople1 {
      top: 10px;
    }

    &.absolutesvgpeople2 {
      top: 40px;
    }

    &.absolutesvgpeople3 {
      top: 70px;
    }

    &.absolutesvgpeople4 {
      top: 100px;
    }
  }
  .horizontalspacing {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footerflex {
    overflow-x: hidden;
    .flex1 {
      width: 30%;
    }
    .flex2 {
      width: 40%;
    }
    .flex3 {
      width: 30%;
    }
  }

  .dottedborderbottommobile {
    border-bottom: 1px dashed #000;
  }

  .width100 {
    width: 100%;
  }

  .contentwidth {
    width: 65%;
  }

  .verticalmargincenter {
    margin-top: 60px;
    margin-bottom: 40px;

    &.potential {
      margin-top: 40px;
    }
  }

  .verticalmargincenter2 {
    margin-bottom: 160px;
  }

  .absoluteimage2 {
    top: 240px;
  }

  .absoluteimage3 {
    top: -50px;
  }
  .absoluteimage4 {
    top: 200px;
  }

  .absoluteimage1 {
    top: 90px;
    left: 0px;
  }

  .absoluteicon1 {
    width: 193px;
    height: 191px;
  }

  .imgcontain {
    width: 55px;
    height: 65px;
  }

  .greyboxcontainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'greybox1 greybox2 '
      ' greybox3 greybox4 ';
    .greyboxes {
      border-radius: 10px;
    }
  }

  .mobilenavigation {
    border-bottom: 1px solid #1678c1;
  }

  .horizontalpadding {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 641.9px) {
  .deskhorizontalline {
    &:before {
      width: 2px;
      left: 37px;
    }
  }
}

@media (max-width: 607.9px) {
  .mainmerriheader {
    font-size: 16px;
    line-height: 21px;
    z-index: 12;

    &.bluecolor {
      color: $dark-green;
    }
  }

  .biggerparagraph,
  .merriparagraph,
  .medparagraph2,
  .biggestparagraph {
    font-size: 12px;
    line-height: 15px;
  }

  .mainmerriheader3,
  .mainmerriheader5,
  .mainmerriheader4 {
    font-size: 16px;
    line-height: 20px;
  }

  .horizontalspacing.people {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 547.9px) {
  .sectionrelative {
    bottom: -170px;
  }
  .deskhorizontalline {
    &:before {
      left: 35px;
      top: 23px;
      height: 77%;
    }
  }

  .horizontalpadding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .topsection {
    height: 60vh;
  }
}

@media (max-width: 486.9px) {
  .icandiet {
    .numbercircle {
      width: 15%;
    }

    .maindiet {
      width: 89%;
    }
  }
  .deskhorizontalline {
    &:before {
      top: 37px;
    }
  }
  .topsection {
    height: 100vh;
  }
}
@media (max-width: 356.9px) {
  .icandiet {
    .numbercircle {
      width: 17%;
    }

    .maindiet {
      width: 83%;
    }
  }
  .deskhorizontalline {
    &:before {
      left: 30px;
      top: 39px;
      height: 77%;
    }
  }

  .topsection {
    height: 100vh;
  }
}
